.Lesson-course-title:hover {
  font-weight: bold;
}

.Teachers {
  font-family: "Fira sans";
  margin-bottom: 0;
  width: auto;
  height: auto;
  background-image: url("../assets/bc.png");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  position: relative;
  width: 1130px;
}

.name {
  margin-top: 100px;
  width: 195px;
  div {
    font-size: 19px;
    letter-spacing: 0.38px;
    line-height: 25px;
    margin: 0 0 40px 0;
    overflow: hidden;
    cursor: pointer;
    &:focus {
      font-weight: bold;
    }
  }
}

.lessons {
  margin: 100px 0px 0px 54px;
  width: 870px;
}

.lessonCard {
  margin: 0 30px 27px 0px !important;
  height: 222px !important;
  width: 257px !important;
  border-radius: 20px;
  padding: 0 !important;
  cursor: pointer;
}

.avatarImg {
  top: 75px;
  box-sizing: border-box;
  height: 65px;
  width: 65px;
  border-radius: 147px;
  border: 4px solid #fff;
  box-shadow: none;
}

.lesson {
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  text-transform: uppercase;
  top: 0px;
}

.teacher {
  font-weight: bold !important;
  top: 100px;
}

.general {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.13px;
  line-height: 14px;
}
.card {
  // height: 222px;
  width: 257px;
  // margin: 0;
}

.uni {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.13px;
  line-height: 14px;
  position: absolute;
}
.background {
  height: 222px;
  width: 257px;
}

.card-title {
  height: 222px !important;
  width: 257px !important;
  padding: 19px 0px 28px 19px !important;
}

.card-image {
  height: 222px;
  width: 257px;
}

.lai {
  margin-top: 57px;
}

.payed {
  position: absolute !important;
  margin: auto 0;
  width: 109px !important;
  height: 19px;
}

.icon {
  width: 30px !important;
  height: 30px;
  margin-left: 10px;
}

@media only screen and (max-width: 1440px) {
  .main {
    width: 930px;
    margin-left: 13px;
  }

  .name {
    margin-top: 100px;
    width: 196px;
    div {
      font-size: 18px;
      letter-spacing: 0.38px;
      line-height: 20px;
      margin: 0 0 33px 0;
    }
  }

  .lessons {
    margin: 100px 0px 0px 40px;
    width: 690px;
  }

  .lessonCard {
    margin: 0 24px 27px 0px !important;
    height: 178px !important;
    width: 205px !important;
    border-radius: 20px;
    padding: 0 !important;
  }

  .avatarImg {
    top: 57px;
    height: 60px;
    width: 60px;
    border-radius: 147px;
    border: 4px solid #fff;
  }

  .teacher {
    font-weight: bold !important;
    top: 100px;
  }

  .general {
    font-size: 9.6px;
    letter-spacing: 0.13px;
    line-height: 14px;
  }
  .card {
    // height: 178px;
    width: 205px;
    // margin: 0;
  }

  .uni {
    font-size: 9.6px;
    font-weight: 500;
    letter-spacing: 0.13px;
    line-height: 14px;
  }
  .background {
    height: 178px;
    width: 205px;
  }

  .card-title {
    font-size: 19px !important;
    height: 178px !important;
    width: 205px !important;
    padding: 15.2px 0px 15.2px 22.4px !important;
  }

  .card-image {
    height: 178px;
    width: 205px;
  }

  .lai {
    margin-top: 37px;
  }

  .payed {
    margin: auto 0;
    width: 87px !important;
    height: 15px;
  }
}

@media only screen and (max-width: 1100px) {
  .Teachers {
    height: 100vh !important;
  }

  .main {
    flex-direction: column;
    height: auto;
    position: inherit;
  }
  .name {
    margin-top: 500px;
    display: flex;
    width: auto;
    flex-wrap: wrap;
  }
  .Lesson-course-title {
    font-size: 30px !important;
    line-height: 30px !important;
    border: 2px solid black;
    margin: 0 10px 33px 10px !important;
    padding: 10px;
    border-radius: 10px;
  }
  .card-title {
    font-size: 40px !important;
    height: 307px !important;
    width: 354px !important;
    padding: 15.2px 0px 15.2px 22.4px !important;
  }

  .card-image {
    height: 307px;
    width: 354px;
  }

  .payed {
    margin: auto 0;
    width: 150px !important;
    height: 25px;
  }

  .background {
    height: 222px;
    width: 257px;
  }

  .lessons {
    width: auto;
  }

  .lessonCard {   
    height: 222px !important;
    width: 382px !important;
  }

  .payed {
    margin: 93px 0 0 0;
  }
}
