nav {
    margin-top: 12px;
    margin-left: -196px;
    background-color: unset;
    box-shadow: none;
    width: 1240px;
    .titles {
        margin-left: 40px;
        font-size: 19px !important;
        font-weight: 500;
        &:hover {
            font-weight: bold;
        }
    }
    img {
        margin-left: 22px;
        width: 140.57px;
        height: 84px;
    }
    .navbar {
        margin-top: 19px;
        margin-left: 150px;
        text-transform: uppercase;
        display: flex;
    }
    .buttonSignUp {
        position: absolute;
        margin-top: 19px;
        margin-left: 270px;
        font-size: 19px !important;
        font-weight: 500;
        text-transform: uppercase;
        &:hover {
            font-weight: bold;
        }
    }
    .buttonSignIn {
        position: absolute;
        margin-top: 19px;
        margin-left: 180px;
        font-size: 19px !important;
        font-weight: 500;
        text-transform: uppercase;
        &:hover {
            font-weight: bold;
        }
    }
    .headerProfile {
        width: 10vw;
        display: flex;
        position: absolute;
        right: 50px;
    }
    .profileImage {
        margin-left: 0;
        margin-top: 7px;
        height: 54px;
        width: 58px;
    }
    .profileText {
        margin-top: 32px;
        font-size: 19px !important;
        font-weight: 500;
        width: auto;
    }
    .dropdown-trigger {
        background-color: transparent;
        box-shadow: none;
        width: auto;
        display: flex;
        &:hover {
            background-color: transparent;
            box-shadow: none;
        }
        &:focus {
            background-color: transparent;
            box-shadow: none;
        }
    }
    .dropdownContent {
        background-color: transparent;
        box-shadow: none;
        margin-top: 81px;
        top: 0px !important;
        width: 240px;
        display: none;
        position: absolute;
        right: 300px;
        .dropdown_buttons {
            color: black;
            width: auto;
            height: 36px;
            &:hover {
                background-color: transparent;
                font-weight: 500;
                font-size: 17px;
            }
        }
        li {
            &:hover {
                background-color: transparent;
            }
        }
    }
    .scrolldown {
        margin-top: 0;
        cursor: pointer;
    }
}


@media only screen and (max-width: 1440px) {
    nav {
        margin-top: 9px;
        margin-left: -179px;
        background-color: unset;
        box-shadow: none;
        width: 1035px;
        .titles {
            margin-left: 32px;
            font-size: 17px !important;
            font-weight: 500;
        }
        img {
            margin-left: 17px;
            width: 112px;
            height: 67px;
        }
        .navbar {
            margin-top: 15px;
            margin-left: 120px;
            text-transform: uppercase;
        }
        .buttonSignUp {
            position: absolute;
            margin-top: 15px;
            margin-left: 286px;
            font-size: 17px !important;
            font-weight: 500;
            text-transform: uppercase;
        }
        .buttonSignIn {
            position: absolute;
            margin-top: 15px;
            margin-left: 204px;
            font-size: 17px !important;
            font-weight: 500;
            text-transform: uppercase;
        }
        .headerProfile {
            width: 10vw;
            display: flex;
            position: absolute;
            right: 50px;
        }
        .profileImage {
            margin-left: 0;
            margin-top: 5px;
            height: 43px;
            width: 46px;
        }
        .profileText {
            margin-top: 25px;
            font-size: 17px !important;
            font-weight: 500;
            width: auto;
        }
    }
    .dropdownContent {
        margin-top: 81px;
        top: 0px !important;
        width: 240px;
        right: 150px !important;
    }
}