.payment {
  height: 1450px;
  font-family: "Fira sans";
  margin-bottom: 0;
  width: auto;
  background-image: url("../assets/bc.png");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bundle-bold {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  color: black;
  margin-top: 100px;
}
.bundle {
  margin-left: -530px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.payment-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  color: black;
  margin-top: 30px;
}
.info {
  margin-left: -360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
