.payment {
  height: 1750px;
  font-family: "Fira sans";
  margin-bottom: 0;
  width: auto;
  background-image: url("../assets/bc.png");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bundle {
  height: 240px;
  width: 280px;
  border-radius: 20px;
  margin-right: 30px;
  margin-top: 20px;
  background-image: url("../assets/card.png");
  background-size: 100% 100%;
}

.bundleContainer {
  width: 1000px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.bundle-name {
  height: 36px;
  width: 250px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0;
}

.bundle-price {
  height: 23px;
  width: 230px;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.21px;
  line-height: 23px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 32px;
}

.bundle-lessons {
  margin: 0;
  margin-left: 20px;
  height: 27px;
  width: 228px;
  color: #222;
  font-family: "Fira Sans";
  font-size: 21px;
  letter-spacing: 0.42px;
  line-height: 25px;
}

.bundle-title {
  height: 80px;
  width: 243px;
  font-size: 65px;
  font-weight: bold;
  line-height: 80px;
}