.something {
    height: 900px !important;
    font-family: 'Fira sans';
    margin-bottom: 0;
    width: auto;
    background-image: url("../assets/bc.png");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}